<p class='.fields'>
	<%= f.label :name, "Problem" %> <br>
  	<%= f.text_field :name %>
  	<%= f.label :name, "Points" %>
  	<%= f.number_field :points %> <br>
  	<%= f.label :tag_list, "Tags" %> 
  	<%= f.text_area :tag_list %>
	<%= link_to_remove_fields "Remove", f %>
</p>