<p id="notice"><%= notice %></p>

<p id="name"><%= @assessment.name %></p>

<p id="course"><%= @course_instance.course.name%></p>

<%= link_to 'Edit', edit_course_instance_assessment_path(@course_instance,@assessment) %> |
<%= link_to 'Back', @course_instance %>
