<div class="floating-menu">

<table>
	<tr>
		<%= links_to_new_assessments(@course_instance) %>
		<td>Sections:</td>
		<% @course_instance.sections.all.each do |sect| %>
			<td><%= link_to sect.name, course_instance_section_path(@course_instance, sect) %></td>
		<% end %>

	</tr>
</table>
</div>

<p id="notice"><%= notice %></p>

<table>
	<tr> 
		<td>Student</td>
		<% @course_instance.assessments.each do |assessment| %>
			<td><%= assessment.name %> </td>
		<% end %>
	</tr>
	<% @course_instance.students.each do |student| %>
			<tr class=<%= cycle('even', 'odd') %>>
			<td><%= student.name %></td>
			<% @course_instance.assessments.each do |assessment| %>
				<td><%= show_and_link_score(@course_instance, student,assessment) %></td>
			<% end %>
			</tr>
		<% end %>
	
</table>

<%= link_to 'Back', course_instances_path %>
